apiVersion: apps/v1
kind: Deployment
metadata:
  name: dr-dialog
  labels:
    app: dr-dialog
spec:
  replicas: 1
  selector:
    matchLabels:
      app: dr-dialog
  template:
    metadata:
      labels:
        app: dr-dialog
    spec:
      containers:
      - name: dr-dialog
        image: vamsiukj/medical-chatbot-mlops:latest
        ports:
        - containerPort: 5000
        resources:
          limits:
            memory: "2Gi"
            cpu: "1"
        readinessProbe:
          httpGet:
            path: /
            port: 5000
          initialDelaySeconds: 5
          periodSeconds: 10
        livenessProbe:
          httpGet:
            path: /
            port: 5000
          initialDelaySeconds: 15
          periodSeconds: 20
